*.slxc
*.mexw64
*.asv
*/slprj/*
simulation/data/
*.r2018b
*.r2023a
*.DS_Store
*/python/*
/measurements/*
/parameter_identification/results/measurements_averaged.mat
/parameter_identification/results/different_simulations_02_27.mat
